body {
    background-color: rgb(27, 27, 27);
    font-family: 'Segoe UI';
    font-weight: lighter;
    color: white;
}
nav{
    background-color: rgb(94, 43, 43);
    padding: 10px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;

}

nav a:hover {
    background-color: #585858;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}


