@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: rgb(27, 27, 27);
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    color: white;
    max-width: auto;
    position: relative;
    align-self: center;
}
.sidebar{
    padding: 20px;
    padding-top: 0;
    width: 200px;    
    position: fixed;
    height: 100%;
    overflow: auto;
    

}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

div.content {
    width: auto;
    margin-left: 250px;
    
  
}   

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%),1fr));
    gap: 10px;
}

.card {
    height: 400px;
    width: auto;
    background-color: #444444;
    overflow: hidden;
    border-radius: 5px;
    
}

.card img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    
}





